:root {
	--color1: grey;
	--color2: #2e94c7;
}

button {
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: var(--color1);
  /*padding: 10px 20px 10px 20px;*/
  border: solid var(--color2) 4px;
  text-decoration: none;
  margin: 2px;
  width: 150px;
  height: 30px;
}

button[disabled] {
	background-color: grey;
	border: grey;
}

button:hover:enabled {
  background: #2e94c7;
  text-decoration: none;
}

.gaugeTitle {
    text-align: center;
    color: white;
	background: rgb(38,50,56);
	background: linear-gradient(90deg, rgba(38,50,56,1) 18%, rgba(54,81,102,1) 61%, rgba(70,92,108,1) 100%);
}

.buttons {
	display: inline-block;
}

.flightForm {
	display: inline-block;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color2);
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
}

.mainDiv {
	display: flex;
	flex: 1;
	flex-direction: row;
	padding-top: 5px;
}

	.dataDiv {
		display: flex;
		flex-direction: column;

		resize: horizontal;
		overflow: hidden;
		width: 60%;
		/*background-color: blue;*/
		padding-bottom: 5px;
		justify-content: space-between;
	}

		.dataRow{
			display: flex;
			resize: vertical;
			overflow: hidden;
			padding-bottom: 5px;
			flex-direction: column;
			flex-basis: 1;
			/*background-color: magenta;*/
		}
			.gaugeTitle {
				background-color: lightblue;
			}

			.row1Div {
				display: flex;
				overflow: hidden;
				/*background-color: green;*/
				flex: 1;
			}

				.dialDiv{
					width: 200px;
				}

				.chartDiv {
					flex-grow: 1;
					overflow: hidden;
					color: red;
				}

	.imageDiv {
		display: flex;
		flex-direction: column;
		flex: 1;
		/*background-color: red;*/
		/*overflow: hidden;*/
	}

		.rowImgDiv {
			resize: vertical;
			overflow: hidden;
			display: flex;
			/*background-color: magenta;*/
			justify-content: center;
			height: 50%;
			padding: 5px;
		}

			.rocketViewDiv{
				resize: horizontal;
				overflow: hidden;
				display: flex;
				/*background-color: green;*/
				width: 50%;
				align-items: center;
				justify-content: center;
				padding: 3px;
			}

			.mapViewDiv{
				display: flex;
				flex: 1;
				/*background-color: grey;*/
				align-items: center;
				justify-content: center;
				padding: 3px;
			}

		.rowOtherDiv {
			flex: 1;
			/*background-color: purple;*/
		}